<!-- ==================== Breadcrumb Start Here ==================== -->
<section class="breadcrumb py-120 bg-neutral-900">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div>
                    <h2 class="text-center tw-mb-6 text-white"> @@breadcrumbText</h2>
                    <ul class="d-flex align-items-center justify-content-center tw-gap-4">
                        <li><a href="index.html" class="text-white hover--translate-y-1 hover-underline"> <i class="las la-home"></i> Home</a> </li>
                        <li><i class="ph ph-caret-right text-white"></i></li>
                        <li> <span class="text-white"> @@breadcrumbText </span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->