<!-- mega menu start -->
<div
  class="mega-menu tw-p-6 tw-rounded-lg scroll-sm nav-submenu position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md tw-duration-200 tw-z-99"
>
  <div class="row g-4 row-cols-1 row-cols-lg-3 row-cols-xl-4">
    <div class="col">
      <div class="mega-menu-item group-item">
        <div
          class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden"
        >
          <a href="index.html" class="d-block">
            <img
              src="assets/images/thumbs/home-img1.png"
              alt="Home Page Image"
              class="tw-h-320-px w-100 object-fit-cover object-top"
            >
          </a>
          <div class="d-lg-flex d-none">
            <div
              class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
            ></div>
            <div
              class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
            >
              <a
                href="index.html"
                target="_blank"
                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Live Preview</span>
                <span
                  class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                >
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="tw-mt-4 text-center">
          <a
            href="index.html"
            class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
            >SEO Agency</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mega-menu-item group-item">
        <div
          class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden"
        >
          <a href="index-2.html" class="d-block">
            <img
              src="assets/images/thumbs/home-img2.png"
              alt="Home Page Image"
              class="tw-h-320-px w-100 object-fit-cover object-top"
            >
          </a>
          <div class="d-lg-flex d-none">
            <div
              class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
            ></div>
            <div
              class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
            >
              <a
                href="index-2.html"
                target="_blank"
                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Live Preview</span>
                <span
                  class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                >
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="tw-mt-4 text-center">
          <a
            href="index-2.html"
            class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
            >Web Hosting</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mega-menu-item group-item">
        <div
          class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden"
        >
          <a href="index-3.html" class="d-block">
            <img
              src="assets/images/thumbs/home-img3.png"
              alt="Home Page Image"
              class="tw-h-320-px w-100 object-fit-cover object-top"
            >
          </a>
          <div class="d-lg-flex d-none">
            <div
              class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
            ></div>
            <div
              class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
            >
              <a
                href="index-3.html"
                target="_blank"
                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Live Preview</span>
                <span
                  class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                >
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="tw-mt-4 text-center">
          <a
            href="index-3.html"
            class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
            >Task Management</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mega-menu-item group-item">
        <div
          class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden"
        >
          <a href="index-4.html" class="d-block">
            <img
              src="assets/images/thumbs/home-img4.png"
              alt="Home Page Image"
              class="tw-h-320-px w-100 object-fit-cover object-top"
            >
          </a>
          <div class="d-lg-flex d-none">
            <div
              class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
            ></div>
            <div
              class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
            >
              <a
                href="index-4.html"
                target="_blank"
                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Live Preview</span>
                <span
                  class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                >
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="tw-mt-4 text-center">
          <a
            href="index-4.html"
            class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
            >CRM Software</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mega-menu-item group-item">
        <div
          class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden"
        >
          <a href="index-5.html" class="d-block">
            <img
              src="assets/images/thumbs/home-img5.png"
              alt="Home Page Image"
              class="tw-h-320-px w-100 object-fit-cover object-top"
            >
          </a>
          <div class="d-lg-flex d-none">
            <div
              class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
            ></div>
            <div
              class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
            >
              <a
                href="index-5.html"
                target="_blank"
                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Live Preview</span>
                <span
                  class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                >
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="tw-mt-4 text-center">
          <a
            href="index-5.html"
            class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
            >App Landing</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mega-menu-item group-item">
        <div
          class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden"
        >
          <a href="index-6.html" class="d-block">
            <img
              src="assets/images/thumbs/home-img6.png"
              alt="Home Page Image"
              class="tw-h-320-px w-100 object-fit-cover object-top"
            >
          </a>
          <div class="d-lg-flex d-none">
            <div
              class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
            ></div>
            <div
              class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
            >
              <a
                href="index-6.html"
                target="_blank"
                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Live Preview</span>
                <span
                  class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                >
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="tw-mt-4 text-center">
          <a
            href="index-6.html"
            class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
            >Consulting Agency</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mega-menu-item group-item">
        <div
          class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden"
        >
          <a href="index-7.html" class="d-block">
            <img
              src="assets/images/thumbs/home-img7.png"
              alt="Home Page Image"
              class="tw-h-320-px w-100 object-fit-cover object-top"
            >
          </a>
          <div class="d-lg-flex d-none">
            <div
              class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
            ></div>
            <div
              class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
            >
              <a
                href="index-7.html"
                target="_blank"
                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Live Preview</span>
                <span
                  class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                >
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="tw-mt-4 text-center">
          <a
            href="index-7.html"
            class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
            >Advertising Agency</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mega-menu-item group-item">
        <div
          class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden"
        >
          <a href="index-8.html" class="d-block">
            <img
              src="assets/images/thumbs/home-img8.png"
              alt="Home Page Image"
              class="tw-h-320-px w-100 object-fit-cover object-top"
            >
          </a>
          <div class="d-lg-flex d-none">
            <div
              class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
            ></div>
            <div
              class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
            >
              <a
                href="index-8.html"
                target="_blank"
                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Live Preview</span>
                <span
                  class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                >
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="tw-mt-4 text-center">
          <a
            href="index-8.html"
            class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
            >Statup Agency</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mega-menu-item group-item">
        <div
          class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden"
        >
          <a href="index-9.html" class="d-block">
            <img
              src="assets/images/thumbs/home-img2.png"
              alt="Home Page Image"
              class="tw-h-320-px w-100 object-fit-cover object-top"
            >
          </a>
          <div class="d-lg-flex d-none">
            <div
              class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
            ></div>
            <div
              class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
            >
              <a
                href="index-9.html"
                target="_blank"
                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Live Preview</span>
                <span
                  class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                >
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="tw-mt-4 text-center">
          <a
            href="index-9.html"
            class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
            >Corporate Agency</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mega-menu-item group-item">
        <div
          class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden"
        >
          <a href="index-10.html" class="d-block">
            <img
              src="assets/images/thumbs/home-img3.png"
              alt="Home Page Image"
              class="tw-h-320-px w-100 object-fit-cover object-top"
            >
          </a>
          <div class="d-lg-flex d-none">
            <div
              class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
            ></div>
            <div
              class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
            >
              <a
                href="index-10.html"
                target="_blank"
                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Live Preview</span>
                <span
                  class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                >
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="tw-mt-4 text-center">
          <a
            href="index-10.html"
            class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
            >Creative Agency</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mega-menu-item group-item">
        <div
          class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden"
        >
          <a href="index-11.html" class="d-block">
            <img
              src="assets/images/thumbs/home-img4.png"
              alt="Home Page Image"
              class="tw-h-320-px w-100 object-fit-cover object-top"
            >
          </a>
          <div class="d-lg-flex d-none">
            <div
              class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
            ></div>
            <div
              class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
            >
              <a
                href="index-11.html"
                target="_blank"
                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Live Preview</span>
                <span
                  class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                >
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="tw-mt-4 text-center">
          <a
            href="index-11.html"
            class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
            >Corporate Agency</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mega-menu-item group-item">
        <div
          class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden"
        >
          <a href="index-11.html" class="d-block">
            <img
              src="assets/images/thumbs/home-img1.png"
              alt="Home Page Image"
              class="tw-h-320-px w-100 object-fit-cover object-top"
            >
          </a>
          <div class="d-lg-flex d-none">
            <div
              class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
            ></div>
            <div
              class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
            >
              <a
                href="index-11.html"
                target="_blank"
                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Live Preview</span>
                <span
                  class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                >
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="tw-mt-4 text-center">
          <a
            href="index-11.html"
            class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
            >Creative Agency</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- mega menu end -->
