<!-- Nav menu Start -->
<ul class="nav-menu d-lg-flex align-items-center @@class">
  <li class="nav-menu__item has-submenu activePage">
    <a
      href="javascript:void(0)"
      class="nav-menu__link tw-pe-5 text-heading tw-py-9 fw-medium w-100"
      >Home</a
    >

    @@include('../partials/_mega-menu.html')
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a
      href="javascript:void(0)"
      class="nav-menu__link tw-pe-5 text-heading tw-py-9 fw-medium w-100"
      >Pages</a
    >
    <ul
      class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-duration-200 tw-z-99"
    >
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="#"
          class="nav-submenu__link hover-bg-neutral-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          Property</a
        >
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="#"
          class="nav-submenu__link hover-bg-neutral-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          About Us</a
        >
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="#"
          class="nav-submenu__link hover-bg-neutral-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          FAQ</a
        >
      </li>
    </ul>
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a
      href="javascript:void(0)"
      class="nav-menu__link tw-pe-5 text-heading tw-py-9 fw-medium w-100"
      >Project</a
    >
    <ul
      class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-duration-200 tw-z-99"
    >
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="#"
          class="nav-submenu__link hover-bg-neutral-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          Project
        </a>
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="#"
          class="nav-submenu__link hover-bg-neutral-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
          >Project Details</a
        >
      </li>
    </ul>
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a
      href="javascript:void(0)"
      class="nav-menu__link tw-pe-5 text-heading tw-py-9 fw-medium w-100"
      >Blog</a
    >
    <ul
      class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-duration-200 tw-z-99"
    >
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="#"
          class="nav-submenu__link hover-bg-neutral-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          Blog Classic</a
        >
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="#"
          class="nav-submenu__link hover-bg-neutral-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          Blog Details</a
        >
      </li>
    </ul>
  </li>
  <li class="nav-menu__item">
    <a href="#" class="nav-menu__link text-heading tw-py-9 fw-medium w-100"
      >Contact</a
    >
  </li>
</ul>
<!-- Nav menu End  -->
